<section id="form">
    <form method="POST" action="citystate">
        <div>
            <label for="city"> 
                Enter your city
                <input id="city" name="city">
            </label>
            <label for="state"> 
                Enter your state (two letters)
                <input id="state" name="state">
            </label>
            <input type="submit">
        </div>
    </form> 
</section>