<section id="form">
    <form method="POST" action="zipcode">
        <div>
            <label for="zipcode"> 
                Enter your ZIP code 
                <input id="zipcode" name="zipcode">
            </label>
            <input type="submit">
        </div>
    </form> 
</section>