<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
        <%- include('../partials/header'); %>
        </header>
        <main>
            <section id="form">
                <form method="POST">
                    <div>
                        <label for="zipcode"> 
                            Enter your ZIP code 
                            <input id="zipcode" name="zipcode">
                        </label>
                        <input type="submit">
                    </div>
                </form> 
            </section>
            <section id="results">
                <div> <%= output %> </div>
            </section>
        </main>
    </body>
</html>