<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $.ajax({ 
                        url: '/request',
                        type: 'POST',
                        cache: false, 
                        data: {}, 
                        success: function(data){
                            document.querySelector("#output").innerHTML = data;
                        }
                        , error: function(jqXHR, textStatus, err){
                            console.log('ERROR: text status '+textStatus+', err '+err)
                        }
                    })
                });            
        </script>
    </head>
    <body class="container">
        <header>
        <%- include('../partials/header'); %>
        </header>
        <main>
            <%- include('../partials/queryheader'); %>
            <section id="results">
                <div id="output"> <%= output %> </div>
            </section>
        </main>
    </body>
</html>